:root {
  --bg: #fffaf8;
  --font: #1E2633;
  --header-font: #fffaf8;
  --link: #f04040;
  --link-hover: #ff7a90;
  --header-bg: #2d394d;
}

[data-theme="dark"] {
  --bg: #1E2633;
  --font: #fffaf8;
}

body {
  background: var(--bg);
  color: var(--font);

  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1, h2 {
  font-family: 'Inconsolata', monospace;
  margin: 0;
  padding-top: 30px;
}

a {
  color: var(--link);

  text-decoration: none;
}

a:hover, a:focus {
  color: var(--link-hover);

  font-weight: bold;
}

.contact {
  padding-top: 0;
}

form {
  width: 100%;
}

form ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li {
  margin-top: 5px;
  margin-bottom: 10px;
}

input, textarea {
  background: var(--header-font);

  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 5px;
}

textarea {
  resize: vertical;
}

button {
  color: var(--header-font);
  background-color: var(--link);
  
  font-family: 'Inconsolata', monospace;
  text-transform: uppercase;
  letter-spacing: .12em;
  padding: 8px 12px;
  border: none;
  border-radius: 2px;
  margin-top: 5px;
}

button:hover {
  background-color: var(--link-hover);
}


.wrapper {
  display: flex;
  max-width: 1100px;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.projects p {
  display: flex;
  justify-content: center;
}

.logo {
  width: 220px;
}

.about {
  margin: 0;
  text-align: center;
}

.toggle {
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  padding: 0 0 15px 0;
  margin: 0;
}

header {
  color: var(--header-font);
  background: var(--header-bg);

  flex: 1;
  padding: 0px 30px;
  display: flex;
  flex-flow: column wrap;
  position: sticky;
  top: 0;
  align-items: center;
  min-height: 100vh;
}

section {
  flex: 2;
  padding: 0px 30px;
  padding-bottom: 0px;
}

@media screen and (max-width: 836px) {
  body, input, textarea, button {
    font-size: 1.2rem;
  }

  header {
    min-height: 100%;
    position: relative;
  }

  section h2, p, li {
    padding-left: 5%;
    padding-right: 5%;
  }

  hr {
    width: 90%;
  }
}
